{
  "presets": [
    "react",
    "es2015",
    "stage-0",
    "stage-1",
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "loose": true,
      "modules": false
    }]
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "transform-object-rest-spread",
    "transform-object-assign",
    "transform-async-to-generator"
  ]
}
