.cityInfo{
  background-color: #ddd;
}

.trashIcon{
  font-size: 20px;
  color: firebrick;
  padding: 20px;
  margin-top: 50px;
}
.mapIcon{
  font-size: 20px;
  color: #31b257;
  padding: 20px;
  margin-top: 50px;
}

.flag{
  width: 75px;
  height: 50px;
  margin-top: 20px;
}

.cityName{
  font: 600 24px Roboto;
}

.countryName{
  font: 300 18px Roboto;
}

.name{
  margin: 15px auto;
  max-width: 190px;
}

.averageTemp{
  font: 600 28px Roboto;
}

.briefInfo{
  margin-top: 30px;
}